$google-lightgrey: #f1f1f1;
$google-darkgrey: #2d2d2d;
$google-red: #d34836;

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    a {
        margin: 15px;
        color: black;
    }
}

#navigation-advanced {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: $google-lightgrey;
}

#google-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 112px;
    width: 272px;
}

#google-image-advanced {
    width: 92px;
    height: 30px;
}

h5 {
    color: $google-red;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    #search-input {
        width: 500px;
        border-radius: 20px;
    }

    #search-image {
        width: 25px;
    }

    .btn {
        margin: 20px;
    }

}

@media (max-width: 1100px) {
    .grid-item-description {
        display: none;
    }
}
.container-advanced {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 30px;
    padding-right: 30px;
    color: $google-darkgrey;

    .grid {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 182px auto 275px;
        font-family: Arial;
        font-size: 10pt;

        .grid-item, .grid-item-description {
            height: 30px;
        }
        #title-advanced {
            font-size: 12pt;
        }
    }
}